body {
    margin-top: 20px;
}
.task-card {
    border: 1px solid green;
    padding: 20px;
    border-radius: 5px;
    background: #f0e1e18b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.task {
    color: #888;
}
.task-done {
    text-decoration: line-through;
    color: #0faf07;
}
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
ul {
    padding-left: 20px;
}
button {
    cursor: pointer;
}